version: '3.9'

services:
  db:
    image: mysql:8.0
    platform: linux/amd64
    container_name: jobpop-mysql
    ports:
      - 3306:3306
    volumes:
      - mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=jobpop_db

volumes:
  mysql:
