@import 'tailwindcss';

/* カスタムダークモードvariantを定義 */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: theme('colors.amber.100');
  --foreground: theme('colors.neutral.700');
}

.dark {
  --background: theme('colors.neutral.800');
  --foreground: theme('colors.amber.50');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), var(--font-geist-mono);
}
