@import 'tailwindcss';
@import 'tw-animate-css';

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  font-family: var(--font-montserrat), var(--font-geist-mono);
}

:root {
  --radius: 0.625rem;
  --background: oklch(95.305% 0.04 90);
  --foreground: oklch(25% 0.0185 66.745);
  --card: oklch(95.305% 0.04 90);
  --card-foreground: oklch(25% 0.0185 66.745);
  --popover: oklch(95.305% 0.04 90);
  --popover-foreground: oklch(25% 0.0185 66.745);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(75.124% 0.15459 82.44);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(84.26% 0.065 71.925);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(84.26% 0.065 71.925);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(25% 0.0185 66.745);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(84.26% 0.065 71.925);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Advanced Marker Custom Styles */
:root {
  --estate-green-dark: #12271e;
}

.advanced-marker-example .real-estate-marker {
  cursor: pointer;
  position: relative;
  transform: translateY(-5px);
  transition: all 0.2s ease-in-out;
}

.advanced-marker-example .real-estate-marker .tip {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border: 8px solid var(--estate-green-dark);
  border-radius: 0;
  border-bottom-right-radius: 5px;
  z-index: -1;
  left: 50%;
  transform: translateY(22%) translateX(-50%) rotate(45deg);
  transition: all 0.2s ease-in-out;
}

.advanced-marker-example .custom-pin {
  position: relative;
  height: 34px;
  width: 34px;
  max-width: 34px;
  min-width: 34px;
  padding: 4px;
  background-color: var(--estate-green-dark);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transform-origin: bottom;
  transition:
    max-width 0.2s ease-in-out,
    width 0.2s ease-in-out,
    height 0.2s ease-in-out,
    border-radius 0.2s ease-in-out;
}

.advanced-marker-example .custom-pin .close-button {
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px;
  border: none;
  box-shadow: none;
  background: none;
  color: var(--estate-green-dark);
  cursor: pointer;
}

.advanced-marker-example .custom-pin .image-container {
  width: 100%;
  height: 100%;
  max-width: 285px;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: inherit;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  background-color: hsl(var(--secondary)); /* 通常時は secondary 色 */
}

.advanced-marker-example .custom-pin .image-container img {
  opacity: 0; /* 通常時は画像を非表示 */
  transition: opacity 0.2s ease-in-out;
}

.advanced-marker-example .custom-pin .image-container .icon {
  position: absolute;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.advanced-marker-example .custom-pin .details-container {
  max-width: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  display: none; /* 通常時は完全に非表示 */
}

.advanced-marker-example .real-estate-marker.hovered {
  z-index: 2;
  transform: translateY(-9px);
}

.advanced-marker-example .real-estate-marker.hovered .custom-pin {
  width: 80px;
  max-width: 80px;
  min-width: 80px;
  height: 80px;
  border-radius: 50%;
}

.advanced-marker-example .real-estate-marker.hovered .custom-pin .image-container {
  opacity: 1;
  border-radius: inherit;
}

.advanced-marker-example .real-estate-marker.hovered .custom-pin .image-container img {
  opacity: 1; /* ホバー時は画像を表示 */
}

.advanced-marker-example .real-estate-marker.hovered .custom-pin .image-container .icon {
  opacity: 0;
}

.advanced-marker-example .real-estate-marker.hovered .tip {
  transform: translateY(23%) translateX(-50%) rotate(45deg) scale(1.4);
}

.advanced-marker-example .real-estate-marker.clicked {
  z-index: 3;
  transform: translateY(-9px);
}

.advanced-marker-example .real-estate-marker.clicked .custom-pin {
  background-color: var(--estate-green-dark);
  border-radius: 0;
  width: fit-content;
  min-width: auto;
  max-width: 650px;
  height: 317px;
}

.advanced-marker-example .real-estate-marker.clicked .custom-pin .image-container {
  border-radius: inherit;
}

.advanced-marker-example .real-estate-marker.clicked .custom-pin .image-container img {
  opacity: 1; /* クリック時も画像を表示 */
}

.advanced-marker-example .real-estate-marker.clicked .custom-pin .image-container .icon {
  opacity: 0;
  visibility: hidden;
}

.advanced-marker-example .real-estate-marker.clicked .custom-pin .details-container {
  max-width: 380px;
  opacity: 1;
  visibility: visible;
  display: flex; /* クリック時にflex表示 */
  animation: slideInFadeIn 0.7s ease-in-out;
}

.advanced-marker-example .real-estate-marker.clicked .custom-pin .close-button {
  display: flex;
}

.advanced-marker-example .real-estate-marker.clicked .custom-pin .details-container .close-button {
  display: flex;
}

.advanced-marker-example .real-estate-marker.clicked .custom-pin .details-container .close-button span {
  font-size: 24px;
}

.advanced-marker-example .real-estate-marker.clicked .tip {
  transform: translateY(23%) translateX(-50%) rotate(45deg) scale(1.4);
}

@keyframes slideInFadeIn {
  0% {
    max-width: 0;
    opacity: 0;
    visibility: hidden;
  }

  75% {
    max-width: 380px;
    opacity: 0;
    visibility: hidden;
  }

  100% {
    max-width: 380px;
    opacity: 1;
    visibility: visible;
  }
}

@theme {
  @keyframes jump {
    0% {
      transform: translateY(0);
    }

    18% {
      transform: translateY(-18px); /* 一番の大ジャンプ */
    }

    32% {
      transform: translateY(6px); /* どすんと着地 */
    }

    50% {
      transform: translateY(-12px); /* 2段ミニジャンプ（ポップ感の核） */
    }

    70% {
      transform: translateY(2px); /* 軽い跳ね返り */
    }

    85% {
      transform: translateY(-4px); /* 小さめの余韻ジャンプ */
    }

    100% {
      transform: translateY(0); /* 元の位置に戻る */
    }
  }

  /* duration と easing をポップに最適化 */
  --animate-jump: jump 1s cubic-bezier(0.25, 0.6, 0.35, 1) infinite;
}
